/*================================
font
===============================*/
$font-en:  'Noto Serif', serif;

/*================================
color
===============================*/

$base-color: #282F35;
$accent-color: #F7D43F;



